@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Fira Code;
}

body {
  background: rgb(57, 77, 80);
  background: linear-gradient(
    90deg,
    rgba(57, 77, 80, 1) 0%,
    rgba(97, 6, 124, 1) 35%,
    rgba(0, 181, 161, 1) 100%
  );
}
